pandas
scikit-learn
numpy
seaborn
ipykernel
Flask
catboost
xgboost
cassandra-driver
click
geomet==0.2.1.post1
h11==0.14.0
python-dotenv==0.20.0
pytz
starlette==0.19.1
tzdata==2023.4
uvicorn==0.18.2
boto3
mlflow==2.2.2
dvc
apache-airflow
scikit-optimize
-e .
